<router-outlet></router-outlet>

<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Contacts</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </nav>
</header>
<main>
  <h3 class="header-title">Wellcome to my page!</h3>
  <h6>I will show you my lovely places in this world!</h6>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, laudantium quae. Sit dignissimos eaque voluptas 
    pariatur autem labore enim nulla totam culpa eos, harum corporis officia illo mollitia fugiat aliquam.
  </p>
  <h3 class="main-title">Wellcome to my page!</h3>
</main>
<footer>
  <p>Codding with &hearts; Haifaa</p>
</footer>

