
:host {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    min-height: 88vh;
}

.header {
    display: flex;
    justify-content: space-around;
    background: rgb(41, 41, 41);
}

.logo {
    padding: 6px;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-ul {
    display: flex;
    padding: 0;
}

.header-li {
    padding: 0 10px;
    list-style-type: none;
}

.header-link {
    text-decoration: none;
    color: rgb(201, 135, 109);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.header-img {
    width: 100%;
}

.header-title, .main-title{
    text-align: center;
}

.header-title {
    font-size: 22px;
}

.main-title {
    font-size: 32px;
}